@charset "UTF-8";

body {}

div {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 10px;
    display: inline-block;
    border: 10px solid black;
    padding: 20px;
}